.App {
  text-align: center;
}

.main-container{
  background-image: url(./clouds.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: row;

}
.header{
  text-align: center;
}

.privacy {
  height: 100px;
  width: 300px;
  text-align: center;
  overflow: scroll;
  margin: auto;
  position: relative;
  display: block;

}

.box{
  flex-direction: column;

  
}

.box2{
  flex-direction: column;

  
}

.box img{
  width: 100px;
  height: 100px;
  padding: 24px;

}

.box2 img{
  width: 100px;
  height: 100px;
  padding: 24px;

}