.App {
  text-align: center;
}

.main-container{
  background-image: url(./clouds.jpeg);
  background-size: cover;

}
.header{
  text-align: center;
}

.privacy {
  height: 100px;
  width: 600px;
  text-align: center;
  overflow: scroll;
  margin: auto;
  position: relative;
  display: block;

}

.box{
  display: flex;
  flex-direction: column;
  background-image: url(./shoe.jpg);

  
}