.App {
  text-align: center;
}

.main-container{
  background-image: url(./clouds.jpeg);
  background-size: cover;

}
.header{
  text-align: center;
}

.body{
  word-break: break-all;
  white-space: pre-line;
  height: 100px;
  width: 600px;
  text-align: center;
  overflow: scroll;
}